<ion-content [fullscreen]="true" class="poem-container">
  <div class="centered-container">
    <p class="centered-text title">Dan Dan</p>

    <div class="poem">
      <p>Si ha de marchitar, que sea en tu vida.</p>
      <p>No deseo más opción que estar en ella,</p>
      <p>para sanarte y salvarte día a día.</p>

      <p>Si ha de florecer, que sea por tu vida.</p>
      <p>La felicidad brota día a día.</p>

      <p>Quiero asegurar mi amor,</p>
      <p>mi vida.</p>
      <p>Quiero que reconozcas,</p>
      <p>mi vida.</p>
      <p>Quiero entregarte más amor,</p>
      <p>mi vida.</p>
      <p>Quiero expresar gratitud,</p>
      <p>tu vida.</p>

      <p>Te amo desde hoy hasta el mañana,</p>
      <p>desde aquí hasta el infinito.</p>
      <p>Diez pasos allá, diez pasos juntitos.</p>
      <p>Te amo de esta manera,</p>
      <p>te amo mañana con sinceridad y locura.</p>
      <p>- Walter Cataldo.</p>
    </div>
  </div>
</ion-content>
